services:
  front-end:
    image: node:18-alpine
    container_name: front-end
    ports:
      - 80:80
    volumes:
      - ./svelte-typescript-app:/front
    command: npm start
    working_dir: /front
    #environment:
      #- PORT=80

  database:
    image: postgres:14
    container_name: database
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: transcendence

  back-end:
    depends_on:
      - database
    image: node:18-alpine
    container_name: back
    ports:
      - 3000:3000
    volumes:
      - ./back:/back
    command: npm run start:dev
    working_dir: /back
