.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    max-width: 80%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: stretch;
}

.nav-links li {
    display: flex;
    margin: 1rem 1rem;
}

.page {
    display: flex;
    flex: 1;
}

.match-finder-wrapper {
    position: fixed;
    bottom: 0;
    right: 10%;
}
