.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-items: stretch;
}

.nav-links li {
	display: flex;
	margin: 1rem 1rem;
}

.page {
	display: flex;
	flex: 1;
}

@media only screen and (max-width: 1100px) {
	.top-bar .neon-text {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.top-bar .neon-text {
		font-size: 0.1rem;
	}
}
