on:
  push:
    branches:
      - master
jobs:
  e2e-tests:
    name: run end-to-end tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        ports:
          - 5433:5432
        env:
          POSTGRES_USER: user_test
          POSTGRES_PASSWORD: pass_test
          POSTGRES_DB: transcendence_test
          POSTGRES_PORT: 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v1
    - name: Use node.js
      uses: actions/setup-node@v1
      with:
        node-version: 18
    - name: install dependencies, build and test
      run: |
        npm --prefix ./back ci
        npm --prefix ./back run test:e2e
